.contact-form h2 {
    padding-bottom: 1rem;
}

.contact-subtitle p {
    font-size: larger;
    text-align: center;
    padding-bottom: 4rem;
}

input[type=text] {
    width: 25%;
    height: 4.5vh; 
}

.contact-name, .contact-email, .contact-msg {
    margin: 3rem 7rem;
    display: grid;
}

.contact-msg {
    width: 50%;
}

@media screen and (max-width: 991px) {
    .contact-name, .contact-email, .contact-msg {
        justify-content: left;
        position: relative;
        
    }
    input[type=text] {
        width: 100%;
        height: 4.5vh; 
    }
    button[type=submit] {
        padding-right: 4.2rem;
        padding-left: 0.4rem;
    }
}

button[type=submit] {
    background-color: yellow;
    width: 7.5%;
    height: 5vh;
    border: none;
    font-size: medium;
    color: black;
    font-weight: bold;
    margin: 0rem 7rem 4rem;
    cursor: pointer;
}