.hero-exp {
    position: relative;
    padding-bottom: 4rem;
}

.title-exp h2 {
    padding-bottom: 1rem;
    color: white;
}

.subtitle-exp p {
    font-size: larger;
    text-align: center;
    padding-bottom: 4rem;
}

.timeline {
    transition: 2s;
}
