
.navbar {
  align-items: center;
  padding: 1rem;
  display: flex;
  justify-content:space-between;
  width: 100%;
  position: fixed;
  z-index: 1; 
}

.navbar-bg {
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.5s;
}

.links {
  display: flex;
}

.links li {
  padding: 0 1rem;
}

.links li a {
  font-size: 1.0rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 991px) {
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
  }

  .links.active {
    left: 0;
  }

  .links li {
    padding: 1rem;
    display: block;
    line-height: 40px;
    margin-right: 0px;
  }

  .links li a {
    color: white;
    font-weight: 600;
  }
  
  .hamburger {
    display: initial;
    color: white;
  }
}

